<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.web12.dao.BoardMapper">

	<insert id="boardWrite" parameterType="board">
		insert into
			balloon_tb(
				board_no
				,member_id
				,board_title
				,board_content
				,lat
				,lon
				<if test="originalfile != null and savedfile != null">
				, originalfile
				, savedfile
				</if>
			) values (
				balloon_seq.nextval
				,#{member_id}
				,#{board_title}
				,#{board_content}
				,#{lat}
				,#{lon}
				<if test="originalfile != null and savedfile != null">
				, #{originalfile}
				, #{savedfile}
				</if>
			)
	</insert>
	
	<update id="updateHits" parameterType="int">
		update
			balloon_tb
		set
			board_view = board_view + 1
		where
			board_no = #{board_no}
	</update>
	
	<select id="boardList" resultType="board">
	select
		board_no
    	,board_title
    	,board_content
    	,member_id
    	,board_indate
    	,board_view
    	,board_like
    	,lat
    	,lon
	from
		balloon_tb
	</select>
	
	<select id="check" resultType="board">
	select
		board_no
    	,board_title
    	,board_content
    	,member_id
    	,board_indate
    	,board_view
    	,board_like
    	,lat
    	,lon
	from
		balloon_tb
	where
		member_id = #{member_id}
	order by
		board_no desc
	</select>
	
	<delete id="delete" parameterType="int">
		delete from balloon_tb
		where
			board_no = #{board_no}
	</delete>
	
	<select id="getVO" parameterType="int" resultType="board">
		select
		board_no
    	,board_title
    	,board_content
    	,member_id
    	,board_indate
    	,board_view
    	,board_like
    	,lat
    	,lon
	from
		balloon_tb
	where
		board_no = #{msg}
	</select>
	
	<select id="checkLikeId" parameterType="hashmap" resultType="int">
		select
    		count(*)
		from
    		like_tb
		where
    		member_id = #{a2} and board_no = #{a1}
	</select>
	
	<select id="checkLikeCount" parameterType="int" resultType="int">
		select
    		count(*)
		from
    		like_tb
		where
    		board_no = #{a1}
	</select>
</mapper>
