<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.web12.dao.MemberMapper">
	
	<select id="boardList" parameterType="string" resultType="board">
	select *
    from(
        select
		board_no
    	,board_title
    	,board_content
    	,member_id
    	,board_indate
    	,board_view
    	,board_like
    	,lat
    	,lon
    	,originalfile
    	,savedfile
    	,like_check
	from
		balloon_tb
	where
		member_id = #{member_id}
	order by
		board_no desc
        )
        where rownum <![CDATA[  <   ]]>=2
	</select>
	
	<insert id="memberJoin" parameterType="member">
		insert into homerare_table(
			member_id
			,member_pw
			,member_nm
		) values (
			#{member_id}
			,#{member_pw}
			,#{member_nm}
		)	
	</insert>
	
	<select id="list" resultType="member">
	select
		member_id
		,member_pw
		,member_nm
		,to_char(member_indate,'yyyy-mm-dd') as member_indate
	from
		homerare_table
	</select>
	
	<delete id="delete" parameterType="string">
	delete
	from
		homerare_table
	where
		member_id = #{member_id}
	</delete>
	
	<select id="check" parameterType="string" resultType="member">
	select
		member_id
		,member_pw
		,member_nm
		,to_char(member_indate,'yyyy-mm-dd') as member_indate
	from
		homerare_table
	where
		member_id = #{member_id}
	</select>
	
	<update id="update" parameterType="member">
	update
		homerare_table
	set
		member_pw = #{member_pw}
		,member_nm = #{member_nm}
	where
		member_id = #{member_id}
	</update>

</mapper>
