<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.scit.web12.dao.StompMapper">

<select id="selectUser" parameterType="string" resultType="member">
	select
		member_id
		,member_pw
		,member_nm
		,to_char(member_indate,'yyyy-mm-dd') as member_indate
	from
		homerare_table
	where
		member_id = #{userId}
</select>

</mapper>